<div class="container">
    
    <form class="p-3 border rounded">
        <div class="mb-3 d-flex align-items-center">
          <label for="code" class="form-label me-3">Code:</label>
          <input type="text" id="code" name="code" [(ngModel)]="code" required class="form-control me-3">
          <button type="button"  class="btn btn-primary">Buscar</button>
        </div>
      
        <div class="mb-3">
          <label for="route" class="form-label">Route:</label>
          <input type="text" id="route" name="route" [(ngModel)]="bus.route" required class="form-control">
        </div>
        
        <div class="mb-3">
          <label for="source" class="form-label">Source:</label>
          <input type="text" id="source" name="source" [(ngModel)]="bus.source" required class="form-control">
        </div>
<!--  -->
        <div class="mb-3">
          <label for="destiny" class="form-label">Destiny:</label>
          <input type="text" id="destiny" name="destiny" [(ngModel)]="bus.destiny" required class="form-control">
        </div>
        
        <div class="mb-3">
          <label for="descripcion" class="form-label">reason:</label>
          <textarea id="descripcion" name="descripcion" [(ngModel)]="bus.reason" class="form-control"></textarea>
        </div>

        <div class="mn-3">
            <button type="button" class="btn btn-danger" >eliminar</button>
        </div>
      </form>


    <div>
     
      
    </div>
</div>
